body{
	background-color: azure;
}
.box1{
	background-color:lightsteelblue;
	outline-color: lightslategray;
	outline-style: dotted;
	outline-width: 5px;
    width:650px;
    margin: 20px auto;
    text-align: center;
	color:royalblue;
	font-family: "Times New Roman",serif;
	font-size: large;
	font-style: italic;
}
.box2{
	color:royalblue;
	font-size: x-large;
	font-family: "Times New Roman",serif;
	font-style: italic;
}
.box3{
	background-color:lightsteelblue;
	outline-color: lightslategray;
	outline-style: dotted;
	outline-width: 5px;
    width:650px;
    margin: 20px auto;
    text-align: center;
}
div img{width:600px;height:600px}
.box5{
	background-color:lightsteelblue;
	outline-color: lightslategray;
	outline-style: dotted;
	outline-width: 5px;
    width:650px;
    margin: 20px auto;
    text-align: center;
}
.box6{
	background-color:lightsteelblue;
	outline-color: lightslategray;
	outline-style: dotted;
	outline-width: 5px;
    width:650px;
    margin: 20px auto;
    text-align: center;
}